<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src='deductorama.js'></script>
<html ng-app="deductorama" ng-controller="MainCtrl">
	<head>
		<div class="header">
			<link rel="stylesheet" href="deductorama.css">
			<h1>Deductorama</h1>
			<h4>Your goal is to guess the correct pattern. Keep clicking on a circle to cycle through all color choices. A black dot indicates some correct color in the correct position, while a grey dot represents some correct color in the wrong position.</h4>
		</div>	
	</head>	

	<body>
		<div class='board'>
			<div class='columns'>
				<div class="column" id="column{{$index+1}}" ng-repeat="guess in guesses track by $index">
					<div class="pegs">
						<div class="peg" id='peg{{$index+1}}' ng-repeat='row in rows track by $index' style='background-color: {{pegsArr[$parent.$index][$index]}}'></div>
					</div>
					<div class='circles'>
						<div class='circle' id="circle{{$index+1}}" ng-repeat='row in rows track by $index' style='background-color: {{guesses[$parent.$index][$index]}}'></div>
					</div>	
				</div>
				<div class='column'id="workingColumn">
					<div class="pegs">
						<div class="peg" id='peg{{$index+1}}' ng-repeat='row in rows track by $index'></div>
					</div>
					<div class='circles'>
						<div class='circle' id="circle{{$index+1}}" ng-click="colorCycler($index, colorsObj)" ng-repeat='row in rows track by $index' style='background-color: {{colorsObj[$index]}}'></div>
					</div>	
				</div>
			</div>	
		</div>
		<div class="button-div">
			<p>You have {{submissions}} guesses left</p>
			<p ng-show='notAllFilledOut'>Please fill out all the circles!</p>
			<p ng-show='winner'>You Win!</p><p ng-show="loser">You Lose.</p>
			<button id="reveal" ng-click="revealAnswer()">Reveal Solution</button>
			<button id="submit" ng-click="makeGuess(colorsObj)">Submit Guess</button>
		</div>	
	</body>
	<!-- http://www.etymonline.com/index.php?search=-rama&searchmode=none -->
</html>